In [2]:
import pandas as pd

In [3]:
tab=pd.read_csv('IMDB Top 250 Movies.csv')

In [4]:
tab

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [5]:
tab.describe().transpose()

        count       mean        std     min      25%     50%      75%     max
rank    250.0   125.5000  72.312977     1.0    63.25   125.5   187.75   250.0
year    250.0  1986.3600  25.125356  1921.0  1966.25  1994.0  2006.00  2022.0
rating  250.0     8.3072   0.229081     8.0     8.10     8.2     8.40     9.3

In [6]:
max_rating=tab['rating'].max()

In [7]:
max_rating

9.3

In [8]:
highest_rating_films=tab[tab['rating']==max_rating]

In [9]:
highest_rating_films

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"

In [10]:
min_rating=tab['rating'].min()

In [11]:
min_rating

8.0

In [12]:
lowest_rating_films=tab[tab['rating']==min_rating]

In [13]:
lowest_rating_films

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
226,227,The Incredibles,2004,8.0,"Animation,Action,Adventure",PG,1h 55m,Save The Day,92000000,631607053,"Craig T. Nelson,Samuel L. Jackson,Holly Hunter...",Brad Bird,Brad Bird
243,244,Life of Brian,1979,8.0,Comedy,R,1h 34m,A motion picture destined to offend nearly two...,4000000,20745728,"Graham Chapman,John Cleese,Michael Palin,Terry...",Terry Jones,"Graham Chapman,John Cleese,Terry Gilliam"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [14]:
len(lowest_rating_films)

5

In [15]:
lowest_rating_films.head(3)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
226,227,The Incredibles,2004,8.0,"Animation,Action,Adventure",PG,1h 55m,Save The Day,92000000,631607053,"Craig T. Nelson,Samuel L. Jackson,Holly Hunter...",Brad Bird,Brad Bird
243,244,Life of Brian,1979,8.0,Comedy,R,1h 34m,A motion picture destined to offend nearly two...,4000000,20745728,"Graham Chapman,John Cleese,Michael Palin,Terry...",Terry Jones,"Graham Chapman,John Cleese,Terry Gilliam"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"

In [16]:
AnHour_check=tab['run_time'].apply(lambda x :x[:2])=='1h'

In [17]:
tab[AnHour_check]

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
21,22,The Silence of the Lambs,1991,8.6,"Crime,Drama,Thriller",R,1h 58m,Dr. Hannibal Lecter. Brilliant. Cunning. Psych...,19000000,272742922,"Jodie Foster,Anthony Hopkins,Lawrence A. Bonne...",Jonathan Demme,"Thomas Harris,Ted Tally"
25,26,Life Is Beautiful,1997,8.6,"Comedy,Drama,Romance",PG-13,1h 56m,"An unforgettable fable that proves love, famil...",20000000,230098753,"Roberto Benigni,Nicoletta Braschi,Giorgio Cant...",Roberto Benigni,"Vincenzo Cerami,Roberto Benigni"
29,30,Back to the Future,1985,8.5,"Adventure,Comedy,Sci-Fi",PG,1h 56m,He's the only kid ever to get into trouble bef...,19000000,383336762,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",Robert Zemeckis,"Robert Zemeckis,Bob Gale"
32,33,Psycho,1960,8.5,"Horror,Mystery,Thriller",R,1h 49m,The picture you MUST see from the beginning......,806947,32052925,"Anthony Perkins,Janet Leigh,Vera Miles,John Ga...",Alfred Hitchcock,"Joseph Stefano,Robert Bloch"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,242,It Happened One Night,1934,8.1,"Comedy,Romance",Passed,1h 45m,Two great lovers of the screen in the grandest...,325000,11477,"Clark Gable,Claudette Colbert,Walter Connolly,...",Frank Capra,"Robert Riskin,Samuel Hopkins Adams"
242,243,Persona,1966,8.1,"Drama,Thriller",Not Rated,1h 23m,A new film by Ingmar Bergman,Not Available,Not Available,"Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...",Ingmar Bergman,Ingmar Bergman
243,244,Life of Brian,1979,8.0,Comedy,R,1h 34m,A motion picture destined to offend nearly two...,4000000,20745728,"Graham Chapman,John Cleese,Michael Palin,Terry...",Terry Jones,"Graham Chapman,John Cleese,Terry Gilliam"
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",PG,1h 26m,Some secrets are too huge to hide,70000000,23335817,"Eli Marienthal,Harry Connick Jr.,Jennifer Anis...",Brad Bird,"Tim McCanlies,Brad Bird,Ted Hughes"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"

In [18]:
avgAnHourating=tab[AnHour_check]['rating'].mean()

In [19]:
avgAnHourating

8.256701030927834

In [20]:
def find_Comedy(title):
    if 'Comedy'in title:
        return True
    return False

In [21]:
Comedycheck=tab[tab['genre'].apply(lambda x: find_Comedy(x))]

In [22]:
Comedycheck

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
25,26,Life Is Beautiful,1997,8.6,"Comedy,Drama,Romance",PG-13,1h 56m,"An unforgettable fable that proves love, famil...",20000000,230098753,"Roberto Benigni,Nicoletta Braschi,Giorgio Cant...",Roberto Benigni,"Vincenzo Cerami,Roberto Benigni"
29,30,Back to the Future,1985,8.5,"Adventure,Comedy,Sci-Fi",PG,1h 56m,He's the only kid ever to get into trouble bef...,19000000,383336762,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",Robert Zemeckis,"Robert Zemeckis,Bob Gale"
45,46,The Intouchables,2011,8.5,"Biography,Comedy,Drama",R,1h 52m,Sometimes you have to reach into someone else'...,9500000,426588510,"François Cluzet,Omar Sy,Anne Le Ny,Audrey Fleu...","Olivier Nakache,Éric Toledano","Olivier Nakache,Éric Toledano,Philippe Pozzo d..."
46,47,Modern Times,1936,8.5,"Comedy,Drama,Romance",G,1h 27m,He stands alone as the greatest entertainer of...,1500000,463618,"Charles Chaplin,Paulette Goddard,Henry Bergman...",Charles Chaplin,Charles Chaplin
51,52,City Lights,1931,8.5,"Comedy,Drama,Romance",G,1h 27m,HE RETURNS -And the world rocks again with lau...,1500000,50419,"Charles Chaplin,Virginia Cherrill,Florence Lee...",Charles Chaplin,"Charles Chaplin,Harry Carr,Harry Crocker"
61,62,The Great Dictator,1940,8.4,"Comedy,Drama,War",G,2h 5m,The Comedy Masterpiece!,2000000,970263,"Charles Chaplin,Paulette Goddard,Jack Oakie,Re...",Charles Chaplin,Charles Chaplin
67,68,Dr. Strangelove or: How I Learned to Stop Worr...,1964,8.4,"Comedy,War",PG,1h 35m,The comedy classic from celebrated director ST...,1800000,9523464,"Peter Sellers,George C. Scott,Sterling Hayden,...",Stanley Kubrick,"Stanley Kubrick,Terry Southern,Peter George"
72,73,Coco,2017,8.4,"Animation,Adventure,Comedy",PG,1h 45m,The celebration of a lifetime,175000000,814337054,"Anthony Gonzalez,Gael García Bernal,Benjamin B...","Lee Unkrich,Adrian Molina(co-directed by)","Lee Unkrich,Jason Katz,Matthew Aldrich"
73,74,Toy Story,1995,8.3,"Animation,Adventure,Comedy",G,1h 21m,"""Oooh...3-D"" (USA 2009 re-release)",30000000,394436586,"Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...",John Lasseter,"John Lasseter,Pete Docter,Andrew Stanton"
82,83,3 Idiots,2009,8.4,"Comedy,Drama",PG-13,2h 50m,Don't be Stupid. Be an I.D.I.O.T.,550000000,60262836,"Aamir Khan,Madhavan,Mona Singh,Sharman Joshi,K...",Rajkumar Hirani,"Rajkumar Hirani,Abhijat Joshi,Vidhu Vinod Chopra"
83,84,Singin' in the Rain,1952,8.3,"Comedy,Musical,Romance",G,1h 43m,Singin' Swingin' Glorious Feelin' Technicolor ...,2540800,2000288,"Gene Kelly,Donald O'Connor,Debbie Reynolds,Jea...","Stanley Donen,Gene Kelly","Betty Comden,Adolph Green"
85,86,Toy Story 3,2010,8.3,"Animation,Adventure,Comedy",G,1h 43m,The Breakout Comedy Of The Summer,200000000,1067316101,"Tom Hanks,Tim Allen,Joan Cusack,Ned Beatty,Don...",Lee Unkrich,"John Lasseter,Andrew Stanton,Lee Unkrich"
100,101,Amélie,2001,8.3,"Comedy,Romance",R,2h 2m,One person can change your life forever.,10000000,174122191,"Audrey Tautou,Mathieu Kassovitz,Rufus,Lorella ...",Jean-Pierre Jeunet,"Guillaume Laurant,Jean-Pierre Jeunet"
101,102,The Apartment,1960,8.3,"Comedy,Drama,Romance",Approved,2h 5m,"Movie-wise, there has never been anything like...",3000000,18778738,"Jack Lemmon,Shirley MacLaine,Fred MacMurray,Ra...",Billy Wilder,"Billy Wilder,I.A.L. Diamond"
111,112,The Sting,1973,8.3,"Comedy,Crime,Drama",PG,2h 9m,"Recapture ""the STING Experience"". REMEMBER HOW...",5500000,156000000,"Paul Newman,Robert Redford,Robert Shaw,Charles...",George Roy Hill,David S. Ward
112,113,Up,2009,8.3,"Animation,Adventure,Comedy",PG,1h 36m,Fly Up to Venezuela,175000000,735099102,"Edward Asner,Jordan Nagai,John Ratzenberger,Ch...","Pete Docter,Bob Peterson(co-director)","Pete Docter,Bob Peterson,Tom McCarthy"
118,119,Snatch,2000,8.2,"Comedy,Crime",R,1h 42m,Stealin' Stones and Breakin' Bones,6000000,83557872,"Jason Statham,Brad Pitt,Stephen Graham,Vinnie ...",Guy Ritchie,Guy Ritchie
127,128,The Kid,1921,8.3,"Comedy,Drama,Family",Passed,1h 8m,This is the great film he has been working on ...,250000,41960,"Charles Chaplin,Edna Purviance,Jackie Coogan,C...",Charles Chaplin,Charles Chaplin
128,129,Some Like It Hot,1959,8.2,"Comedy,Music,Romance",Passed,2h 1m,"Not since SCARFACE, so much action. Not since ...",2883848,195088,"Marilyn Monroe,Tony Curtis,Jack Lemmon,George ...",Billy Wilder,"Billy Wilder,I.A.L. Diamond,Robert Thoeren"
131,132,The Wolf of Wall Street,2013,8.2,"Biography,Comedy,Crime",R,3h,Earn. Spend. Party.,100000000,406878233,"Leonardo DiCaprio,Jonah Hill,Margot Robbie,Mat...",Martin Scorsese,"Terence Winter,Jordan Belfort"
132,133,Green Book,2018,8.2,"Biography,Comedy,Drama",PG-13,2h 10m,Inspired by a True Friendship,23000000,321752656,"Viggo Mortensen,Mahershala Ali,Linda Cardellin...",Peter Farrelly,"Nick Vallelonga,Brian Hayes Currie,Peter Farrelly"
137,138,The Truman Show,1998,8.2,"Comedy,Drama",PG,1h 43m,All the world's a stage...,60000000,264118201,"Jim Carrey,Ed Harris,Laura Linney,Noah Emmeric...",Peter Weir,Andrew Niccol
146,147,Monty Python and the Holy Grail,1975,8.2,"Adventure,Comedy,Fantasy",PG,1h 31m,You can do worse than see it.,229575,1940906,"Graham Chapman,John Cleese,Eric Idle,Terry Gil...","Terry Gilliam,Terry Jones","Graham Chapman,John Cleese,Eric Idle"
153,154,Finding Nemo,2003,8.2,"Animation,Adventure,Comedy",G,1h 40m,71% of the Earth's surface is covered by water...,94000000,941637960,"Albert Brooks,Ellen DeGeneres,Alexander Gould,...","Andrew Stanton,Lee Unkrich(co-director)","Andrew Stanton,Bob Peterson,David Reynolds"
159,160,"Lock, Stock and Two Smoking Barrels",1998,8.2,"Action,Comedy,Crime",R,1h 47m,A Disgrace to Criminals Everywhere.,960000,3753929,"Jason Flemyng,Dexter Fletcher,Nick Moran,Jason...",Guy Ritchie,Guy Ritchie
160,161,Inside Out,2015,8.2,"Animation,Adventure,Comedy",PG,1h 35m,Meet the little voices inside your head.,175000000,858848019,"Amy Poehler,Bill Hader,Lewis Black,Mindy Kalin...","Pete Docter,Ronnie Del Carmen(co-director)","Pete Docter,Ronnie Del Carmen,Meg LeFauve"
164,165,"Three Billboards Outside Ebbing, Missouri",2017,8.1,"Comedy,Crime,Drama",R,1h 55m,medyCrimeDrama,15000000,162861289,"Frances McDormand,Woody Harrelson,Sam Rockwell...",Martin McDonagh,Martin McDonagh
171,172,My Neighbor Totoro,1988,8.1,"Animation,Comedy,Family",G,1h 26m,imationComedyFamilyFantasy,Not Available,Not Available,"Hitoshi Takagi,Noriko Hidaka,Chika Sakamoto,Sh...",Hayao Miyazaki,Hayao Miyazaki
176,177,The Gold Rush,1925,8.1,"Adventure,Comedy,Drama",Passed,1h 35m,"""The Picture I Want to Be Remembered by."" -Cha...",923000,29328,"Charles Chaplin,Mack Swain,Tom Murray,Henry Be...",Charles Chaplin,Charles Chaplin
179,180,Klaus,2019,8.2,"Animation,Adventure,Comedy",PG,1h 36m,Discover the friendship that launched a legend.,Not Available,Not Available,"Jason Schwartzman,J.K. Simmons,Rashida Jones,W...","Sergio Pablos,Carlos Martínez López(co-director)","Sergio Pablos,Jim Mahoney,Zach Lewis"
184,185,The Grand Budapest Hotel,2014,8.1,"Adventure,Comedy,Crime",R,1h 39m,ventureComedyCrime,25000000,173082189,"Ralph Fiennes,F. Murray Abraham,Mathieu Amalri...",Wes Anderson,"Stefan Zweig,Wes Anderson,Hugo Guinness"
186,187,The General,1926,8.1,"Action,Adventure,Comedy",Passed,1h 7m,"Buster drives ""The General"" to trainload of la...",750000,750000 (estimated),"Buster Keaton,Marion Mack,Glen Cavender,Jim Fa...","Clyde Bruckman,Buster Keaton","Buster Keaton,Clyde Bruckman,Al Boasberg"
194,195,Sherlock Jr.,1924,8.2,"Action,Comedy,Romance",Passed,45m,every inch of footage holds such a laugh!,Not Available,Not Available,"Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin...",Buster Keaton,"Jean C. Havez,Joseph A. Mitchell,Clyde Bruckman"
195,196,Wild Tales,2014,8.1,"Comedy,Drama,Thriller",R,2h 2m,We can all lose control,Not Available,Not Available,"Darío Grandinetti,María Marull,Mónica Villa,Di...",Damián Szifron,"Germán Servidio,Damián Szifron"
196,197,Mr. Smith Goes to Washington,1939,8.1,"Comedy,Drama",Passed,2h 9m,"OUR OPERATOR SAYS..""IT'S GOING TO BE A PLEASUR...",1900000,144738,"James Stewart,Jean Arthur,Claude Rains,Edward ...",Frank Capra,"Sidney Buchman,Lewis R. Foster,Myles Connolly"
199,200,Mary and Max,2009,8.1,"Animation,Comedy,Drama",Not Rated,1h 32m,Two unlikely people. Two different worlds come...,$8240000,1740429,"Toni Collette,Philip Seymour Hoffman,Eric Bana...",Adam Elliot,Adam Elliot
202,203,"Monsters, Inc.",2001,8.1,"Animation,Adventure,Comedy",G,1h 32m,"Monsters, Inc. : We Scare Because We Care",115000000,579707738,"Billy Crystal,John Goodman,Mary Gibbs,Steve Bu...","Pete Docter,David Silverman(co-director),Lee U...","Pete Docter,Jill Culton,Jeff Pidgeon"
204,205,Dead Poets Society,1989,8.1,"Comedy,Drama",PG,2h 8m,He was their inspiration. He made their lives ...,16400000,235860116,"Robin Williams,Robert Sean Leonard,Ethan Hawke...",Peter Weir,Tom Schulman
205,206,The Big Lebowski,1998,8.1,"Comedy,Crime",R,1h 57m,Hay quienes tratan de ganarse la vida sin move...,15000000,46969409,"Jeff Bridges,John Goodman,Julianne Moore,Steve...","Joel Coen,Ethan Coen(uncredited)","Ethan Coen,Joel Coen"
212,213,Ratatouille,2007,8.1,"Animation,Adventure,Comedy",G,1h 51m,Dinner is served... Summer 2007,150000000,623726085,"Brad Garrett,Lou Romano,Patton Oswalt,Ian Holm...","Brad Bird,Jan Pinkava(co-director)","Brad Bird,Jan Pinkava,Jim Capobianco"
223,224,Groundhog Day,1993,8.1,"Comedy,Drama,Fantasy",PG,1h 41m,What would you do if you were stuck in the sam...,14600000,71108591,"Bill Murray,Andie MacDowell,Chris Elliott,Step...",Harold Ramis,"Danny Rubin,Harold Ramis"
227,228,To Be or Not to Be,1942,8.2,"Comedy,Romance,War",Passed,1h 39m,The Picture Everyone Wants To See.,Not Available,Not Available,"Carole Lombard,Jack Benny,Robert Stack,Felix B...",Ernst Lubitsch,"Melchior Lengyel,Edwin Justus Mayer,Ernst Lubi..."
241,242,It Happened One Night,1934,8.1,"Comedy,Romance",Passed,1h 45m,Two great lovers of the screen in the grandest...,325000,11477,"Clark Gable,Claudette Colbert,Walter Connolly,...",Frank Capra,"Robert Riskin,Samuel Hopkins Adams"
243,244,Life of Brian,1979,8.0,Comedy,R,1h 34m,A motion picture destined to offend nearly two...,4000000,20745728,"Graham Chapman,John Cleese,Michael Palin,Terry...",Terry Jones,"Graham Chapman,John Cleese,Terry Gilliam"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"

In [23]:
len(Comedycheck)

45

In [24]:
def find_TomHanks(title):
    if 'Tom Hanks' in title:
        return True
    return False

In [25]:
checkTomHanks=tab[tab['casts'].apply(lambda x: find_TomHanks(x))]

In [26]:
checkTomHanks

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
10,11,Forrest Gump,1994,8.8,"Drama,Romance",PG-13,2h 22m,The story of a lifetime.,55000000,678226465,"Tom Hanks,Robin Wright,Gary Sinise,Sally Field...",Robert Zemeckis,"Winston Groom,Eric Roth"
23,24,Saving Private Ryan,1998,8.6,"Drama,War",R,2h 49m,In the Last Great Invasion of the Last Great W...,70000000,482349603,"Tom Hanks,Matt Damon,Tom Sizemore,Edward Burns...",Steven Spielberg,Robert Rodat
26,27,The Green Mile,1999,8.6,"Crime,Drama,Fantasy",R,3h 9m,Miracles do happen.,60000000,286801374,"Tom Hanks,Michael Clarke Duncan,David Morse,Bo...",Frank Darabont,"Stephen King,Frank Darabont"
73,74,Toy Story,1995,8.3,"Animation,Adventure,Comedy",G,1h 21m,"""Oooh...3-D"" (USA 2009 re-release)",30000000,394436586,"Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...",John Lasseter,"John Lasseter,Pete Docter,Andrew Stanton"
85,86,Toy Story 3,2010,8.3,"Animation,Adventure,Comedy",G,1h 43m,The Breakout Comedy Of The Summer,200000000,1067316101,"Tom Hanks,Tim Allen,Joan Cusack,Ned Beatty,Don...",Lee Unkrich,"John Lasseter,Andrew Stanton,Lee Unkrich"
172,173,Catch Me If You Can,2002,8.1,"Biography,Crime,Drama",PG-13,2h 21m,The true story of a real fake.,Not Available,Not Available,"Leonardo DiCaprio,Tom Hanks,Christopher Walken...",Steven Spielberg,"Jeff Nathanson,Frank Abagnale Jr.,Stan Redding"

In [27]:
checkTomHanks['rating'].mean()

8.45

In [28]:
def find_budget(title):
    if title!='Not Available':
        return True
    return False

In [29]:
Check_budget1=tab[tab['budget'].apply(lambda x : find_budget(x))]

In [30]:
Check_budget1

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",PG,1h 26m,Some secrets are too huge to hide,70000000,23335817,"Eli Marienthal,Harry Connick Jr.,Jennifer Anis...",Brad Bird,"Tim McCanlies,Brad Bird,Ted Hughes"
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [43]:
find_director=tab[(tab['directors']=='Christopher Nolan') &(tab['certificate']=='PG-13')]

In [45]:
find_director

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
13,14,Inception,2010,8.8,"Action,Adventure,Sci-Fi",PG-13,2h 28m,Your mind is the scene of the crime,160000000,836848102,"Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot ...",Christopher Nolan,Christopher Nolan
24,25,Interstellar,2014,8.6,"Adventure,Drama,Sci-Fi",PG-13,2h 49m,Mankind was born on Earth. It was never meant ...,165000000,773867216,"Matthew McConaughey,Anne Hathaway,Jessica Chas...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan"
40,41,The Prestige,2006,8.5,"Drama,Mystery,Sci-Fi",PG-13,2h 10m,A Friendship That Became a Rivalry.,40000000,109676311,"Christian Bale,Hugh Jackman,Scarlett Johansson...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,Christopher P..."
68,69,The Dark Knight Rises,2012,8.4,"Action,Drama",PG-13,2h 44m,The Legend Ends,250000000,1081169825,"Christian Bale,Tom Hardy,Anne Hathaway,Gary Ol...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
126,127,Batman Begins,2005,8.2,"Action,Crime,Drama",PG-13,2h 20m,The Legend Begins,150000000,373672993,"Christian Bale,Michael Caine,Ken Watanabe,Liam...",Christopher Nolan,"Bob Kane,David S. Goyer,Christopher Nolan"

In [56]:
def find_writers(title):
    if 'Stephen King' in title:
        return True
    return False

In [59]:
tab[(tab['writers'].apply(lambda x: find_writers(x)))&(tab['year']>=1990)]

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
26,27,The Green Mile,1999,8.6,"Crime,Drama,Fantasy",R,3h 9m,Miracles do happen.,60000000,286801374,"Tom Hanks,Michael Clarke Duncan,David Morse,Bo...",Frank Darabont,"Stephen King,Frank Darabont"

In [127]:
def replace(title):
    a=''
    for i in title:
        if i in '0123456789':
            a+=i
        else:
            a+=''
    if a=='':
        a='0'
    return a

In [128]:
budget_check=tab['budget']

In [129]:
budget_check=budget_check.apply(replace)

In [130]:
budget_check.apply( lambda x: int(x))

0       25000000
1        6000000
2      185000000
3       13000000
4         350000
         ...
245     25000000
246      4000000
247            0
248     22000000
249     22000000
Name: budget, Length: 250, dtype: int64

In [131]:
budget_check.apply( lambda x: int(x)).mean()

44257872.636

In [115]:
budget_check.apply( lambda x: int(x)).min()

0

In [116]:
budget_check.apply( lambda x: int(x)).max()

2400000000

In [117]:
box_office_check= tab['box_office']

In [118]:
box_office_check=box_office_check.apply(replace)

In [119]:
box_office_check.apply( lambda x: int(x))

0        28884504
1       250341816
2      1006234167
3        47961919
4             955
          ...
245     216639112
246         14480
247             0
248      52767889
249     424208848
Name: box_office, Length: 250, dtype: int64

In [120]:
box_office_check.apply( lambda x: int(x)).max()

2799439100

In [121]:
box_office_check.apply( lambda x: int(x)).min()

0

In [122]:
box_office_check.apply( lambda x: int(x)).mean()

206773997.136

In [132]:
tab[((budget_check.apply( lambda x: int(x)))>=(box_office_check.apply( lambda x: int(x))))]

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
19,20,Seven Samurai,1954,8.6,"Action,Drama",Not Rated,3h 27m,Will Take Its Place With the Seven Greatest Fi...,125000000,346258,"Toshirô Mifune,Takashi Shimura,Keiko Tsushima,...",Akira Kurosawa,"Akira Kurosawa,Shinobu Hashimoto,Hideo Oguni"
34,35,Léon: The Professional,1994,8.5,"Action,Crime,Drama",R,1h 50m,"If you want the job done right, hire a profess...",RF 115000000,19569225,"Jean Reno,Gary Oldman,Natalie Portman,Danny Ai...",Luc Besson,Luc Besson
43,44,Grave of the Fireflies,1988,8.5,"Animation,Drama,War",Not Rated,1h 29m,imationDramaWar,3700000,516962,"Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguch...",Isao Takahata,"Akiyuki Nosaka,Isao Takahata"
44,45,Harakiri,1962,8.6,"Action,Drama,Mystery",Not Rated,2h 13m,The World Has Never Understood Why the Japanes...,Not Available,Not Available,"Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,...",Masaki Kobayashi,"Yasuhiko Takiguchi,Shinobu Hashimoto"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,242,It Happened One Night,1934,8.1,"Comedy,Romance",Passed,1h 45m,Two great lovers of the screen in the grandest...,325000,11477,"Clark Gable,Claudette Colbert,Walter Connolly,...",Frank Capra,"Robert Riskin,Samuel Hopkins Adams"
242,243,Persona,1966,8.1,"Drama,Thriller",Not Rated,1h 23m,A new film by Ingmar Bergman,Not Available,Not Available,"Bibi Andersson,Liv Ullmann,Margaretha Krook,Gu...",Ingmar Bergman,Ingmar Bergman
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",PG,1h 26m,Some secrets are too huge to hide,70000000,23335817,"Eli Marienthal,Harry Connick Jr.,Jennifer Anis...",Brad Bird,"Tim McCanlies,Brad Bird,Ted Hughes"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"

In [141]:
tab.groupby('rating').mean()

C:\Users\ezgis\AppData\Local\Temp\ipykernel_20292\2906257335.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tab.groupby('rating').mean()

              rank         year
rating
8.0     243.600000  1989.400000
8.1     205.397059  1987.132353
8.2     153.327273  1985.890909
8.3     104.394737  1978.210526
8.4      70.833333  1993.800000
8.5      41.818182  1984.045455
8.6      26.153846  1986.692308
8.7      16.500000  1986.000000
8.8      43.285714  1999.000000
8.9       8.000000  1994.000000
9.0       5.000000  1987.000000
9.2       2.000000  1972.000000
9.3       1.000000  1994.000000

In [143]:
tab.groupby('year').describe()

      rank                                                             rating  \
     count        mean        std    min     25%    50%     75%    max  count
year
1921   1.0  128.000000        NaN  128.0  128.00  128.0  128.00  128.0    1.0
1924   1.0  195.000000        NaN  195.0  195.00  195.0  195.00  195.0    1.0
1925   1.0  177.000000        NaN  177.0  177.00  177.0  177.00  177.0    1.0
1926   1.0  187.000000        NaN  187.0  187.00  187.0  187.00  187.0    1.0
1927   1.0  115.000000        NaN  115.0  115.00  115.0  115.00  115.0    1.0
...    ...         ...        ...    ...     ...    ...     ...    ...    ...
2018   4.0   87.500000  32.316147   63.0   65.25   77.0   99.25  133.0    4.0
2019   6.0  116.666667  67.568237   34.0   75.75  100.5  165.75  210.0    6.0
2020   2.0  119.000000  15.556349  108.0  113.50  119.0  124.50  130.0    2.0
2021   2.0  192.000000  59.396970  150.0  171.00  192.0  213.00  234.0    2.0
2022   1.0  106.000000        NaN  106.0  106.00  106.0  106.00  106.0    1.0


      mean       std  min   25%  50%   75%  max
year
1921  8.30       NaN  8.3  8.30  8.3  8.30  8.3
1924  8.20       NaN  8.2  8.20  8.2  8.20  8.2
1925  8.10       NaN  8.1  8.10  8.1  8.10  8.1
1926  8.10       NaN  8.1  8.10  8.1  8.10  8.1
1927  8.30       NaN  8.3  8.30  8.3  8.30  8.3
...    ...       ...  ...   ...  ...   ...  ...
2018  8.35  0.100000  8.2  8.35  8.4  8.40  8.4
2019  8.30  0.154919  8.1  8.20  8.3  8.40  8.5
2020  8.30  0.141421  8.2  8.25  8.3  8.35  8.4
2021  8.50  0.424264  8.2  8.35  8.5  8.65  8.8
2022  8.30       NaN  8.3  8.30  8.3  8.30  8.3

[86 rows x 16 columns]

In [144]:
tab.groupby('year').describe().transpose()

year           1921   1924   1925   1926   1927   1928       1931   1934  \
rank   count    1.0    1.0    1.0    1.0    1.0    1.0   2.000000    1.0
       mean   128.0  195.0  177.0  187.0  115.0  208.0  74.000000  242.0
       std      NaN    NaN    NaN    NaN    NaN    NaN  31.112698    NaN
       min    128.0  195.0  177.0  187.0  115.0  208.0  52.000000  242.0
       25%    128.0  195.0  177.0  187.0  115.0  208.0  63.000000  242.0
       50%    128.0  195.0  177.0  187.0  115.0  208.0  74.000000  242.0
       75%    128.0  195.0  177.0  187.0  115.0  208.0  85.000000  242.0
       max    128.0  195.0  177.0  187.0  115.0  208.0  96.000000  242.0
rating count    1.0    1.0    1.0    1.0    1.0    1.0   2.000000    1.0
       mean     8.3    8.2    8.1    8.1    8.3    8.2   8.400000    8.1
       std      NaN    NaN    NaN    NaN    NaN    NaN   0.141421    NaN
       min      8.3    8.2    8.1    8.1    8.3    8.2   8.300000    8.1
       25%      8.3    8.2    8.1    8.1    8.3    8.2   8.350000    8.1
       50%      8.3    8.2    8.1    8.1    8.3    8.2   8.400000    8.1
       75%      8.3    8.2    8.1    8.1    8.3    8.2   8.450000    8.1
       max      8.3    8.2    8.1    8.1    8.3    8.2   8.500000    8.1

year          1936        1939  ...        2013        2014        2015  \
rank   count   1.0    3.000000  ...    4.000000    5.000000    4.000000
       mean   47.0  192.666667  ...  174.250000  126.400000  193.750000
       std     NaN   31.722757  ...   35.405979   85.148693   22.867371
       min    47.0  159.000000  ...  132.000000   25.000000  161.000000
       25%    47.0  178.000000  ...  159.000000   42.000000  188.750000
       50%    47.0  197.000000  ...  173.500000  184.000000  200.000000
       75%    47.0  209.500000  ...  188.750000  185.000000  205.000000
       max    47.0  222.000000  ...  218.000000  196.000000  214.000000
rating count   1.0    3.000000  ...    4.000000    5.000000    4.000000
       mean    8.5    8.133333  ...    8.125000    8.280000    8.125000
       std     NaN    0.057735  ...    0.050000    0.248998    0.050000
       min     8.5    8.100000  ...    8.100000    8.100000    8.100000
       25%     8.5    8.100000  ...    8.100000    8.100000    8.100000
       50%     8.5    8.100000  ...    8.100000    8.100000    8.100000
       75%     8.5    8.150000  ...    8.125000    8.500000    8.125000
       max     8.5    8.200000  ...    8.200000    8.600000    8.200000

year                2016        2017        2018        2019        2020  \
rank   count    4.000000    3.000000    4.000000    6.000000    2.000000
       mean   159.500000  151.333333   87.500000  116.666667  119.000000
       std     69.696963   72.472983   32.316147   67.568237   15.556349
       min     82.000000   73.000000   63.000000   34.000000  108.000000
       25%    114.250000  119.000000   65.250000   75.750000  113.500000
       50%    158.500000  165.000000   77.000000  100.500000  119.000000
       75%    203.750000  190.500000   99.250000  165.750000  124.500000
       max    239.000000  216.000000  133.000000  210.000000  130.000000
rating count    4.000000    3.000000    4.000000    6.000000    2.000000
       mean     8.225000    8.200000    8.350000    8.300000    8.300000
       std      0.150000    0.173205    0.100000    0.154919    0.141421
       min      8.100000    8.100000    8.200000    8.100000    8.200000
       25%      8.100000    8.100000    8.350000    8.200000    8.250000
       50%      8.200000    8.100000    8.400000    8.300000    8.300000
       75%      8.325000    8.250000    8.400000    8.400000    8.350000
       max      8.400000    8.400000    8.400000    8.500000    8.400000

year                2021   2022
rank   count    2.000000    1.0
       mean   192.000000  106.0
       std     59.396970    NaN
       min    150.000000  106.0
       25%    171.000000  106.0
       50%    192.000000  106.0
       75%    213.000000  106.0
       max    234.000000  106.0
rating count    2.000000    1.0
       mean     8.500000    8.3
       std      0.424264    NaN
       min      8.200000    8.3
       25%      8.350000    8.3
       50%      8.500000    8.3
       75%      8.650000    8.3
       max      8.800000    8.3

[16 rows x 86 columns]